<div class="login screen " data-id="1:268"><img class="x272990499_3016729253-b8DrbD x272990499_3016729253"
    data-id="1:269"
    src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/272990499-301672925330924-8650080086644313217-n-3.png"
    anima-src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/272990499-301672925330924-8650080086644313217-n-3.png"
    alt="272990499_301672925330924_8650080086644313217_n">
  <div class="rectangle-1-b8DrbD" data-id="1:270"></div>
  <h1 class="title-b8DrbD inter-normal-vivid-violet-40px" data-id="1:271"><span
      class="span0-LCnnSg inter-normal-vivid-violet-40px">L</span><span
      class="span1-LCnnSg inter-normal-vivid-violet-40px">o</span><span
      class="span2-LCnnSg inter-normal-vivid-violet-40px">gin</span></h1>
  <div class="repeat-grid-3-b8DrbD" data-id="1:297">
    <div class="group-FmtiTQ group" data-id="1:293"><img class="repeat-grid-1" data-id="1:292"
        src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/repeat-grid-1@2x.png"
        anima-src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/repeat-grid-1@2x.png"
        alt="Repeat Grid 1">
      <div class="rtarfmith-Vf9Oxj rtarfmith" data-id="1:276">@rtarf.mi.th</div>
    </div>
    <div class="group-xGGQqr group" data-id="1:296"><img class="repeat-grid-1" data-id="1:295"
        src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/repeat-grid-1@2x.png"
        anima-src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/repeat-grid-1@2x.png"
        alt="Repeat Grid 1">
      <div class="password-lErL7n" data-id="1:281">password</div>
    </div>
  </div>
  <div class="rtarfmith-b8DrbD rtarfmith inter-normal-vivid-violet-18px" data-id="1:282">
    ***(ไม่ต้องพิมพ์คำว่า@rtarf.mi.th)</div>
  <div class="rectangle-2-b8DrbD" data-id="1:283"></div>
  <div class="text_label-b8DrbD" data-id="1:284">เข้าสู่ระบบ</div><img
    class="x272990499_3016729253-6IRkXs x272990499_3016729253" data-id="1:285"
    src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/272990499-301672925330924-8650080086644313217-n-2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/272990499-301672925330924-8650080086644313217-n-2@2x.png"
    alt="272990499_301672925330924_8650080086644313217_n"><img class="icon-key-b8DrbD" data-id="1:286"
    src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/key-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/key-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-key"><img class="contact_mail_fill0_wght400_grad0_opsz48-b8DrbD" data-id="1:287"
    src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/contact-mail-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641be2b6d90857335b3b6bd5/releases/641be39b16866ff49c2b0abe/img/contact-mail-fill0-wght400-grad0-opsz48@2x.png"
    alt="contact_mail_FILL0_wght400_GRAD0_opsz48">
  <div class="dont-have-an-account-b8DrbD inter-normal-vivid-violet-18px" data-id="1:288">Don't have an account?</div>
  <div class="register-b8DrbD" data-id="1:289">Register</div>
  <div class="create-by-bunyawat-b8DrbD inter-normal-vivid-violet-18px" data-id="1:290">Create by Bunyawat</div>
</div>
