<div class="auto-animated screen register" data-id="1:210" data-page="register" data-screens="login,register"
  style="opacity: 1;">
  <div class="text_label-C61RwL" data-id="1:284">เข้าสู่ระบบ</div>
  <div class="dont-have-an-account-C61RwL" data-id="1:288">Don't have an account?</div>
  <div class="create-by-bunyawat-C61RwL" data-id="1:290">Create by Bunyawat</div>
  <div class="x272990499_3016729253-C61RwL" data-id="1:269"></div>
  <div class="rectangle-1-C61RwL" data-id="1:270"></div>
  <div class="register-C61RwL"
    onclick="Lib.autoanim_redirect('login,register%23register,,ease-out,300.00001192092896', event)" onmouseover=""
    data-id="1:289">Register</div>
  <div class="repeat-grid-2-C61RwL" data-id="1:260">
    <div class="group-jHv1io" data-id="1:259">
      <div class="group-6-gHZ1Gx" data-id="1:252">
        <div class="repeat-grid-1-uiU6DO" data-id="1:251"></div>
        <div class="text_label-uiU6DO" data-id="1:218">ชื่อ</div>
      </div>
      <div class="group-7-gHZ1Gx" data-id="1:255">
        <div class="repeat-grid-1-xAdrbb" data-id="1:254"></div>
        <div class="text_label-xAdrbb" data-id="1:223">นามสกุล</div>
      </div>
      <div class="group-8-gHZ1Gx" data-id="1:258">
        <div class="repeat-grid-1-UyvFYv" data-id="1:257"></div>
        <div class="text_label-UyvFYv" data-id="1:228">เลขประจำตัวทหาร</div>
      </div>
    </div>
  </div>
  <div class="repeat-grid-3-C61RwL" data-id="1:297">
    <div class="group-A1Rl2I" data-id="1:293">
      <div class="repeat-grid-1-kPJovI" data-id="1:292"></div>
      <div class="rtarfmith-kPJovI" data-id="1:276">@rtarf.mi.th</div>
    </div>
    <div class="group-xCHdqh" data-id="1:296">
      <div class="repeat-grid-1-xAgmEh" data-id="1:295"></div>
      <div class="password-xAgmEh" data-id="1:281">password</div>
    </div>
  </div>
  <div class="rtarfmith-C61RwL" data-id="1:282">***(ไม่ต้องพิมพ์คำ@rtarf.mi.th)</div>
  <div class="rectangle-2-C61RwL" data-id="1:283"></div>
  <div class="register-VMr6Om"
    onclick="Lib.autoanim_redirect('%2A,register%23login,,ease-out,300.00001192092896', event)" onmouseover=""
    data-id="1:241">Register</div>
  <div class="x272990499_3016729253-VMr6Om" data-id="1:285"></div>
  <div class="icon-user-C61RwL" data-id="1:243"></div>
  <div class="icon-user-VMr6Om" data-id="1:244"></div>
  <div class="icon-key-C61RwL" data-id="1:286"></div>
  <div class="contact_mail_fill0_wght400_grad0_opsz48-C61RwL" data-id="1:287"></div>
  <div class="name-C61RwL" data-id="1:247"></div>
  <div class="have-an-account-create-by-bunyawat-C61RwL" data-id="1:248">Have an account? <br>Create by Bunyawat</div>
  <h1 class="login-C61RwL"
    onclick="Lib.autoanim_redirect('register,register%23login,,ease-out,300.00001192092896', event)" onmouseover=""
    data-id="1:271"><span class="span0-MC9uCI">L</span><span class="span1-MC9uCI">o</span><span
      class="span2-MC9uCI">gin</span></h1>
</div>
